:root {
  --backgound-color: R #ffffff;
  --text-color: R #434455;
  --brand-color: R #2e2f42;
  --logo-color: R #4d5ae5;
  --background-color-portfolio: R #f4f4fd;
}

body {
  color: #434455;
  background-color: var(--backgound-color);
}

.body-studio {font-family: 'Roboto', sans-serif;
}

/*antet/



