:root {
  --backgound-color: R #ffffff;
  --text-color: R #434455;
  --brand-color: R #2e2f42;
  --logo-color: R #4d5ae5;
  --background-color-portfolio: R #f4f4fd;
}

body {
  color: #434455;
  background-color: var(--backgound-color);
}

.body-studio {
  font-family: "Roboto", sans-serif;
}

/*header*/

.nav-bar {
  font-style: normal;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}
.logo-span-dark {
  color: var(--brand-color);
}
.list {
  list-style: none;
}
.nav-link {
  font-weight: 500;
}
